{% extends "base.html" %}
{% load i18n %}

{% block title %}Registration Complete{% endblock %}

{% block content %}
</br></br></br></br></br>
<div class="section text-center">
	<div class="container">
	    <div class="row">
	    	<div class="col-lg-12">
	           	<h2>Email Sent</h2>
	            <p>Please Checkout you email inbox</p>
	            <a href="/" class="btn btn-success btn-lg">Back to Booker</a>
	            <hr>
	        </div>
	    </div><!-- /.row -->
	</div>
</div>
{% endblock %}
