{% extends "base.html" %}
{% load i18n %}

{% block title %}About{% endblock %}

{% block content %}

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">About <small>It's Nice to Meet You!</small></h1>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">About</li>
          </ol>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6" align="center">
          <img class="img-thumbnail" src="../media/images/books3.jpg" width="80%">
        </div>
        <div class="col-md-6">
          <h2>Welcome to Booker</h2>
          <p>Booker was born in 2013 through the initiative of some friends book lovers who wanted to create a portal where users could share their writings by ebooks.</p>
          <p>The site works as a social network dedicated to books intended for anyone willing to fulfill the dream of publish their own books and to know what others think about it.</p>
          </br>
          <h3>Follow us in the differents social networks</h3>
          <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/booker.editorial" 
              data-toggle="tooltip" data-placement="top" title="Facebook"><i class="icon-facebook-sign icon-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="https://twitter.com/bookereditorial" 
              data-toggle="tooltip" data-placement="top" title="Twitter"><i class="icon-twitter-sign icon-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/u/0/102901707878701555634/posts" data-toggle="tooltip" data-placement="top" title="Google+"><i class="icon-google-plus-sign icon-2x"></i></a></li>
            </ul>
        </div>

      </div>

      <!-- Team Member Profiles -->

      <div class="row">

        <div class="col-lg-12">
          <h2 class="page-header">People who did Booker</h2>
        </div>

        <div class="col-sm-6" align="center">
        	<img class="img-circle" src="../media/images/danny.jpg " width="210" height="200">
            <h3>Danny Solano <small>Journalist</small></h3>
            <p>Danny is the main creator of the idea "Booker" and a lover of good literature </p>
            <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/ratalandia?fref=ts" 
              data-toggle="tooltip" data-placement="top" title="Facebook"><i class="icon-facebook-sign icon-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="https://twitter.com/_odumodneurtse" 
              data-toggle="tooltip" data-placement="top" title="Twitter"><i class="icon-twitter-sign icon-2x"></i></a></li>
            </ul>
        </div>

        <div class="col-sm-6" align="center">
        	<img class="img-circle" src="../media/images/sergio.jpg" width="200" height="200">
            <h3>Sergio Monge <small>Software Engineer</small></h3>
            <p>Sergio shared the sense of freedom of expression that promulgates Booker. He takes care of the administration and programming of the site</p>
            <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social twitter-link"><a href="https://twitter.com/Ser_Dev" 
              data-toggle="tooltip" data-placement="top" title="Twitter"><i class="icon-twitter-sign icon-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/105731417173410575935/posts" data-toggle="tooltip" data-placement="top" title="Google+"><i class="icon-google-plus-sign icon-2x"></i></a></li>
            </ul>
        </div>


      </div>

{% endblock %}

